.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .gallery-item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .feature-image {
    grid-column: span 2;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
  }
  